<nav class="navbar navbar-custom sp60 navbar-padd-adjust">
        <div class="navbar-header">
            <div class="dropdown dropdown-login-second hidden-lg hidden-sm hidden-md">
                <button class="btn btn-avatar dropdown-toggle" type="button" data-toggle="dropdown">
                                <img *ngIf="us_image" src="{{us_image}}" alt="profile-image">
                                <img *ngIf="us_image == ''" src="{{defaultImgPath}}" alt="profile-image" />
                        </button>
                <ul class="dropdown-menu dropdown-menu-logout">
                    <li>
                        <a routerLink='/user-profile'><img class="navbar-icons" src="assets/images/navuser.svg" alt="Cog"><span>Profile</span></a>
                    </li>
                    <li (click)="onLogout()">
                        <a href="#"><img class="navbar-icons" src="assets/images/logout.svg" alt="Cog"><span>Sign out</span></a>
                    </li>
                </ul>
            </div>
            <button type="button" class="navbar-toggle navbar-toggle-mofified" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
   
            <a class="navbar-brand" routerLink='/meetings-list'>
                <img *ngIf="!logo_img" src="assets/images/logo.svg" alt="Logo">
                <img *ngIf="logo_img" src="{{logo_img}}" alt="Logo">
            </a>
            <!-- logo -->

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-list-custom" *ngIf="roleId == '3'">
                <li routerLinkActive="active-head"><a routerLink='/meetings-list'>Meetings</a></li>
                <li routerLinkActive="active-head"><a routerLink='/reports'>Reports</a></li>
                <!-- [routerLinkActiveOptions]="{exact:true}" -->
                <li routerLinkActive="active-head"><a routerLink='/polls'>Polls</a></li>
                <li routerLinkActive="active-head"><a routerLink='/learners'>Learners</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-list-custom-two">
                <li routerLinkActive="active-head" *ngIf="roleId == '3'">
                    <a routerLink='/domain-settings'><img class="navbar-icons" src="assets/images/cog.svg" alt="Cog">DOMAIN SETTINGS</a>
                </li>
                <li routerLinkActive="active-head" *ngIf="roleId == '3'">
                    <a routerLink='/settings'><img class="navbar-icons" src="assets/images/cog.svg" alt="Cog">SETTINGS</a>
                </li>

                <li class="hidden-xs">
                    <div class="dropdown">
                        <button class="btn btn-avatar dropdown-toggle" type="button" data-toggle="dropdown">
                                <img *ngIf="us_image" src="{{us_image}}" alt="profile-image">
                                <img *ngIf="us_image == ''" src="{{defaultImgPath}}" alt="profile-image" />
                        </button>
                        <ul class="dropdown-menu dropdown-menu-logout">
                            <li>
                                <a routerLink='/user-profile'><img class="navbar-icons" src="assets/images/navuser.svg" alt="Cog"><span>Profile</span></a>
                            </li>
                            <li (click)="onLogout()">
                                <a href="javascript:void(0)"><img class="navbar-icons" src="assets/images/logout.svg" alt="Cog"><span>Sign out</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>