.custom_blackilist_lbl { display: block; margin: 10px 0px; }
.input-tags-wrap { border-bottom: 0px !important; }
.upload-and-text-wrap .fke-upload { width: 140px; margin-top: 8px; }
.form-group-bttm-margin { margin-bottom: 8px; }
.download-sample-btn:hover { text-decoration: none !important; }
.download-sample-btn:focus { text-decoration: none !important; }
