.input-tags-wrap {
    border-bottom: none !important;
}
.form-group .control-label {   
    font-size: 1.4rem !important;
    font-weight: 300 !important;
}
.search-weight {
    font-weight: 300 !important;
}

.my-tag  /deep/ .tag-wrapper{
   opacity: 1;
    padding: 0px 14px;
    color: #6a6a77;
}

.my-tag /deep/ .ng2-tag-input__text-input {
    min-width: 200px;
}

.filter-report {   
    font-weight: 100;
}
.table-striped-tok > thead > tr > th{
    font-weight: 100 !important;
}

.btn-grey-small-col {
    font-weight: 200 !important;
}

.btn-blue-tb-align {
    margin-right: 15px;
}

.nomeeting-svg{
    position: absolute;
    top: 50%;
    width: 230px;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 422px){
.rest-btn-margin-top{
    margin-top: 18px;
}
}

