.attendees-wrap{
    font-weight: 100 !important;
    font-size: 14px;
}
.attendies-wrap{
   font-weight: 100 !important; 
}
.charge_text_class {
    color: #ee5e95 !important;
    font-weight: bold !important;
}
.subscription-cancelLink {
    cursor: pointer;
}
.pwd-msg{
    font-size: 11px;
    margin: -15px 0px 15px 0px;
    text-align: left;
    color: #808080;
}