.reset-holder{
    width: 360px;
    margin: 0 auto;
    padding: 10px;
    border: #ccc 1px solid;
    margin-top: 50px;
}
.error-msg,.success-msg {
    background: #f7f8fd;
}
.pwd-msg{
    margin-bottom:15px;
}