   <app-admin-header></app-admin-header>  
    <div class="main-wraper">
        <div class="left-sidebar-wrap" style="visibility: hidden;"></div>
        <!-- left-sidebar-wrap -->
        <div class="right-content-wrap">
            <div class="polls-btn-wrap">
                <div class="polls-head">
                    <h2 class="h2-heading"><span class="first-text-light">Accounts</span></h2>
                </div>
                <!-- polls-head -->

            </div>
            <!-- polls-btn-wrap -->

            <div class="row">
                <div class="col-md-8">
                    <div class="search-table-wrapper search-for-meeting-popup facilitator-alignment">
                        <form (ngSubmit)="searchUsers($event, f)" #f="ngForm" class="search-form">
                            <div class="search-table">
                                <div class="form-group">
                                    <input type="text" required="required" name="keyword" [ngModel]="keyword" #searchKeyword="ngModel">
                                    <label class="control-label" for="input">SEARCH BY NAME OR EMAIL</label><i class="bar"></i>
                                </div>
                            </div>
                            <!-- search-table -->
                            <div class="search-btn">
                                <button type="submit" class="btn btn-blue serch-btn" href="javascript:void(0)">SEARCH</button>
                            </div>
                            <!-- search-btn -->
                            <div class="search-btn">
                                <button type="reset" (click)="resetSearch()" class="btn btn-grey reset-btn" href="javascript:void(0)">RESET</button>
                            </div>
                            <!-- search-btn -->                          
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name="planId" [(ngModel)]="planId" (change)="selectPlan($event.target.value)">
                            <option *ngFor="let subscriptionPlan of subscriptionPlans" value="{{subscriptionPlan.id}}">{{subscriptionPlan.value}}</option>
                        </select>  
                        <label class="control-label" for="planId"><span class="filter-label">FILTER BY SUBSCRIPTION PLAN</span></label><i class="bar"></i>
                    </div>
                </div>
            </div>
          <div class="table-responsive table-responsive-show" style="position:relative;">
              <div [ngBusy]="busy"></div>
                <table class="table table-striped table-striped-tok table-reg-height">
                    <thead>
                        <tr>
                            <th><a class="sort-field" href="javascript:void(0)" (click)="sortTable(1)">Name</a></th>
                            <th><a class="sort-field" href="javascript:void(0)" (click)="sortTable(2)">Subscription</a></th>
                            <th><a class="sort-field" href="javascript:void(0)" (click)="sortTable(3)">Email</a></th>
                            <th><a class="sort-field" href="javascript:void(0)" (click)="sortTable(4)">Status</a></th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersDetails | paginate: {'id': 'users-list', itemsPerPage: limit, currentPage: p, totalItems: recordsTotal }" id="row{{user.id}}">
                          <td>{{user.us_name}}</td>
                          <td>{{user.plan_name}}</td>
                          <td>{{user.us_email}}</td>
                          <td *ngIf="user.us_status == 0"><span class="label label-warning">Inactive</span></td>
                          <td *ngIf="user.us_status == 1"><span class="label label-success">Active</span></td>
                          <td *ngIf="user.us_status == 2"><span class="label label-danger">Disabled</span></td>
                          <td>
                            <div class="edit-delete-wrap edit-dotts">
                                <div class="edit">
                                    <div class="dropdown">
                                        <button class="btn btn-drops-trans dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       
                                               <!--  <svg xmlns="http://www.w3.org/2000/svg" width="15.571" height="15.5" viewBox="0 0 14.571 14.5">
                                                            <path fill="#B2B2B2" d="M9.06 2.42l2.965 2.964-7.503 7.503L1.56 9.923l7.5-7.503zm5.214-.715L12.952.383c-.51-.51-1.34-.51-1.853 0L9.83 1.65l2.964 2.963 1.477-1.477c.397-.396.397-1.035 0-1.43zM.008 14.09c-.054.242.165.46.408.4l3.303-.8-2.965-2.965-.75 3.364z"></path>
                                                </svg> -->

                                                <svg fill="#B2B2B2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                                </svg>
                                            
                                      </button>
                                        <ul class="dropdown-menu drops-trans dropup-mobile" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" class="action_icons"><a role="menuitem" tabindex="-1" routerLink='/admin/view-user/{{user.id}}'>View Info</a></li>
                                            <li role="presentation" class="action_icons"><a role="menuitem" tabindex="-1" (click)="resetPassword(user.id)" >Reset Password</a></li>
                                            <li *ngIf="user.us_status == 2 || user.us_status == 0" class="toggle-enable action_icons" role="presentation"><a role="menuitem" tabindex="-1"  (click)="changeStatus(user.id,'enable')">Enable User</a></li>
                                            <li *ngIf="user.us_status == 1" class="toggle-enable action_icons" role="presentation"><a role="menuitem" tabindex="-1" (click)="changeStatus(user.id,'disable')">Disable User</a></li>
                                            <li role="presentation" class="action_icons"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#delete_user" (click)="deleteUser(user.id,'delete')" >Delete User</a></li>
                                            <li role="presentation" class="action_icons"><a role="menuitem" tabindex="-1" (click)="enterAccount(user.meeting_id)" >Enter Account</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- edit -->
                            </div>
                        </td>
                        </tr>
                        <tr *ngIf="recordsTotal == 0"><td colspan="5">No results found</td></tr>
                    </tbody>
                </table>
            </div>

            <pagination-controls class="my-pagination" id="users-list"
                    (pageChange)="pageChanged($event)"
                    maxSize="5"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
        <!-- right-content-wrap -->
    </div>
  
    <app-admin-footer></app-admin-footer>

     <div class="modal tokbird-modal fade" id="delete_user" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
        <div class="modal-dialog register-modal plan-modal-alter" role="document">
            <div class="modal-content">
                <div class="change-sub-wrap">
                    <!-- change-sub-wrap -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 ptb10">
                                <h2 class="h2-heading"><span class="first-text-light">Delete&nbsp;</span>User</h2>

                                <span class="plan_sucess">Are you sure you want to delete this
                                    User?</span>

                            </div>

                        </div>
                        <div class="sub-can-btn-wrap sub-can-btn-margin">
                            <!--  <a class="btn btn-blue" data-dismiss="modal" href="javascript:void(0)">CLOSE</a> -->

                            <a class="btn btn-blue" href="javascript:void(0)" (click)="changeStatus(user_id,'delete')" >DELETE</a>
                            <a class="btn btn-grey" data-dismiss="modal" href="javascript:void(0)">CANCEL</a>
                        </div>
                    </div>
                </div>
                <!-- change-sub-wrap -->

            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->