body { font-family: "Montserrat", sans-serif !important; }
.form-radio, .form-group { margin: 20px 0px; }
.input-tags-wrap { border: 0px solid red !important; }
.spinner { background-image: url('../../assets/images/spinner.svg'); background-size: 40px; background-repeat: no-repeat; }
.ng2-tag-input { border-bottom: 0px solid #efefef !important; }
.tag-label form input[type="text"] { font-family: "Montserrat", sans-serif !important; }
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after { content: "OR"; }

/* .common-drops select, .common-drops option{
    font-weight: 100 !important;
} */
.form-group-hr { margin-top: 14px !important; margin-bottom: 0px !important; width: 57px !important; margin-right: 20px !important; }
.svg-close { transform: rotate(45deg); width: 14px; }
#datetimepicker { border-bottom: 1px solid #efefef; }
#datetimepicker:focus { border-color: #efefef; outline: 0; box-shadow: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {    /* display: none; <- Crashes Chrome on hover */
-webkit-appearance: none; margin: 0; /* <-- Apparently some margin are still there even though it's hidden */ }

/* .meeting-ans-text-alter {
    text-transform: lowercase !important;
} */
.alter-bar .control-label { top: -19px; }
.alter-bar { margin: 19px 0px; }
.alter-bar .bar { border-bottom: 1px solid  #e7e8eb; }
.has-error .form-control { box-shadow: none !important; }

/* Added - 22/11/2017  */
.alter-bar { margin: 18px 0px !important; min-width: 50px !important; }
.my-tag  /deep/ .tag-wrapper { opacity: 1; padding: 0px 14px; color: #6a6a77; }
.my-tag /deep/ .ng2-tag-input__text-input { min-width: 200px; }
.bottom-margin { margin-bottom: 34px !important; }
.schedule-overlay { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.33); z-index: 9999999999999; display: flex !important; align-items: center; justify-content: center; top: 0px; left: 0px; flex-direction: column; }
.processing { display: block; color: #ffffff; font-weight: 600; font-size: 16px; }
.schedule-overlay >img { width: 65px; height: 65px; }
.default-loader { display: none; }
.meet-link { text-decoration: none; color: #03a9f4 !important; }
.redactor-border { border: 1px solid red; }
.timezone-title { display: block; }

.no-pddng {
    padding: 0px;
}

#datetimepicker {
    border-bottom: none !important;
    height: 23px;
}

.input-group-addon {
    width: 20px;
} 
