<app-header *ngIf="roleId == '3'"></app-header>
<app-admin-header *ngIf="roleId != '3'"></app-admin-header>
<div class="main-wraper">
    <div class="left-sidebar-wrap" *ngIf="meetingId==''"></div> 
    <app-meeting-sidebar *ngIf="(meetingId!='')" [meetingStatus]="meetingStatus" [allDataFetched]="allDataFetched"></app-meeting-sidebar>
    <div class="right-content-wrap">
        <h2 class="h2-heading"><span class="first-text-light" *ngIf="meetingId==''">Schedule</span><span class="first-text-light" *ngIf="meetingId!=''">Edit</span> Meeting</h2> 
         <form *ngIf="!disableEdit" (ngSubmit)="scheduleMeeting($event, f)" #f="ngForm"> 
            <div class="form-group" [ngClass]="{'has-error': !meetingTitle.valid && f.submitted}">
                <input type="text" name="title" [ngModel]="title" #meetingTitle="ngModel" required="required" maxlength="200" />
                <label class="control-label" for="input">MEETING TITLE</label><i class="bar"></i>
            </div>
            <span class="calander-title">AFTER EVENT URL</span>
            <div class="form-group common-drops">
                <select name="after_event_url" [(ngModel)]="after_event_url" #afterEventUrl="ngModel">
                    <optgroup label="Go To Main Room">
                        <option *ngFor="let evUrl of afterEventUrls" value="{{evUrl.value}}">{{evUrl.label}}</option>
                    </optgroup>
                    <optgroup *ngIf="recordingsUrls.length > 0" label="Select Recording">
                        <option *ngFor="let evUrl of recordingsUrls" value="{{evUrl.value}}">{{evUrl.label}}</option>
                    </optgroup>
                </select>
                <label class="control-label" for="select"></label><i class="bar" style="padding-top: 4px;"></i> 
            </div>
            <span class="calander-title top-bottom-label-space">AGENDA</span>
            <div class="redactor-wrap bottom-margin">
                <app-tinymce [(ngModel)]="agenda" name="agenda" id="agenda" #meetingAgenda="ngModel"></app-tinymce>  
            </div>
            <div class="input-tags-wrap">
                <span>CATEGORY</span>
                <tag-input class="my-tag" [(ngModel)]="categories" #meetingCategories="ngModel" [ngClass]="'tag-label'" placeholder="+ New category" secondaryPlaceholder="Type categories and hit enter" name="categories">
                    <tag-input-dropdown [autocompleteItems]='items'>
                    </tag-input-dropdown>
                </tag-input>
                <!-- input-tags -->
            </div>
            <!-- input-tags-wrap -->
            <div class="calander-and-time-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs">
                        <span class="calander-title">MEETING DATE</span>
                        <div class="form-group" [ngClass]="{'has-error': dateError && f.submitted}" id="date-picker-fg">
                            <input type="text" id="datetimepicker" class="form-control datepicker" name="schedule_date" [(ngModel)]="schedule_date" #datePicker (blur)="schedule_date = datePicker.value" required/>
                            <i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs">
                        <span class="calander-title">TIME ZONE</span>
                        <div class="form-group common-drops" [ngClass]="{'has-error': !meetingTimezone.valid && f.submitted }">
                            <select name="timezone" [ngModel]="timezone" #meetingTimezone="ngModel" required>
                                <optgroup label="US Zones">
                                    <option *ngFor="let tz of usZones" value="{{tz.value}}">{{tz.text}}</option>
                                </optgroup>
                                <optgroup label="International Zones">
                                    <option *ngFor="let tz of intlZones" value="{{tz.value}}">{{tz.text}}</option>
                                </optgroup>
                            </select>
                             <label class="control-label" for="select"></label><i class="bar" style="padding-top: 4px;"></i> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="calander-and-time-wrap">
                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-6 col-xxs">
                        <span class="calander-title">ESTIMATED DURATION</span>
                        <div class="seperate-input-drops">
                            <div class="form-group form-group-hr" [ngClass]="{'has-error': ((!durationHours.valid && f.submitted) || (this.durationHoursError && f.submitted))}">
                                 <input class="hrs" type="number" min="0" max="23" name="duration_hours" [(ngModel)]="duration_hours" #durationHours="ngModel" (keyup)="checkDuration()"> 
                                 <label class="control-label" for="input">HRS</label><i class="bar"></i> 
                            </div>
                            <div class="form-group common-drops alter-bar" [ngClass]="{'has-error': ((!durationMinutes.valid && f.submitted) || (this.durationMinutesError && f.submitted))}">
                                <select name="duration_minutes" [(ngModel)]="duration_minutes" #durationMinutes="ngModel" (change)="checkDuration()" required="required">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                <label class="control-label" for="select">Minutes</label><i class="bar"></i>
                            </div>
                        </div>
                        <!-- seperate-input-drops -->
                    </div>
                    <!-- columns -->
                </div>
                <!-- row -->
            </div>
            <!-- calander-and-time-wrap -->
            <div class="talkbird-wrap no-pddng" *ngIf="roleId == '3'">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="allow_facilitator" (change)="confirmFacilitator($event)" name="allow_facilitator" /><i class="helper"></i> 
                        <div class="chkbox-text-and-sub">
                            <span class="helper-text">I will need a Facilitator</span>
                            <span class="tokbird-sub">TokBird Support will contact you to discuss further details</span>
                        </div> 
                    </label>
                </div>
                <!-- checkbox -->
            </div>
            <!-- talkbird-wrap --> 

            <div class="talkbird-wrap no-pddng" *ngIf="roleId == '3'">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="is_sprout" name="is_sprout" /><i class="helper"></i> 
                        <div class="chkbox-text-and-sub">
                            <span class="helper-text">Sprout meeting</span>
                            <span class="tokbird-sub">NOTE: This feature is ONLY to be used if you are using a TokBird/Sprout meeting using an HP Sprout Computer. </span>
                        </div> 
                    </label>
                </div>
                <!-- checkbox -->
            </div>
            <!-- talkbird-wrap --> 

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs">
                    <span class="calander-title">EMAIL REMINDER</span>
                    <div #cloneDiv *ngFor="let item of remindersArray;let i = index" class="seperate-input-drops">
                        <div class="form-group form-group-hr">
                            <input class="hrs" type="number" min="1" max="60" [(ngModel)]="remindersArray[i].duration" #reminderDuration_{{i}}="ngModel"  name="reminders[{{i}}][duration]">
                            <label class="control-label" for="input"></label><i class="bar"></i>
                        </div>
                        <div class="form-group common-drops alter-bar">
                            <select [(ngModel)]="remindersArray[i].duration_type" #reminderDurationType_{{i}}="ngModel" name="reminders[{{i}}][duration_type]">
                                <option value="">Select</option>
                                <option value="1">Minutes</option>
                                <option value="2">Hours</option>
                                <option value="3">Days</option>
                                <option value="4">Weeks</option>
                            </select>
                            <i class="bar"></i>
                        </div>
                        <div class="form-group">
                            <a *ngIf="i > 0" href="javascript:void(0)" (click)="removeReminder(i)" [ngStyle]="{'padding-left': '4px'}"> <img class="add-svg svg-close" src="assets/images/add.svg" alt=""></a>
                        </div>
                    </div>
                    <!-- seperate-input-drops -->
                </div>
            </div>
            <div class="add-area-wrap">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-4 col-xxs">
                        <a class="linkadd" href="javascript:void(0)" (click)="addReminder()">
                            <img class="add-svg" src="assets/images/add.svg" alt="">
                            <span class="addtext">ADD REMINDER</span>
                        </a>
                    </div>
                    <!-- columns -->
                </div>
                <!-- row -->
            </div>
            <!-- add-area-wrap -->
            <div class="talkbird-wrap" *ngIf="meetingId!=''">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [ngModel]="notify_changes" name="notify_changes" /><i class="helper"></i> 
                        <div class="chkbox-text-and-sub">
                            <span class="helper-text">Notify invited users about changes</span>
                        </div> 
                    </label>
                </div>
                <!-- checkbox -->
            </div>
            <!-- talkbird-wrap --> 
            <div class="sub-can-btn-wrap">
                <input *ngIf="!disableSubmit" type="submit" class="btn btn-blue" name="save" value="SAVE" />
                <input *ngIf="disableSubmit" type="button" class="btn btn-blue spinner" value="SAVE" disabled/>
                <a *ngIf="roleId == 3" class="btn btn-grey" href="javascript:void(0)" [routerLink]="['/meetings-list']">CANCEL</a>
                <a *ngIf="roleId != 3" class="btn btn-grey" href="javascript:void(0)" [routerLink]="[urlPrefix + '/meetings/list', meetingId]">CANCEL</a>
            </div>
            <!-- sub-can-btn-wrap -->
        </form>
        <form *ngIf="disableEdit" (ngSubmit)="updatePastMeeting($event, f)" #f="ngForm">
            <div class="form-group" [ngClass]="{'has-error': !meetingTitle.valid && f.submitted}">
                <input type="text" name="title" [ngModel]="title" #meetingTitle="ngModel" required="required" maxlength="200" />
                <label class="control-label" for="input">MEETING TITLE</label><i class="bar"></i>
            </div>
            <span class="calander-title">AFTER EVENT URL</span>
            <div class="form-group common-drops">
                <select name="after_event_url" [(ngModel)]="after_event_url" #afterEventUrl="ngModel">
                    <optgroup label="Go To Main Room">
                        <option *ngFor="let evUrl of afterEventUrls" value="{{evUrl.value}}">{{evUrl.label}}</option>
                    </optgroup>
                    <optgroup *ngIf="recordingsUrls.length > 0" label="Select Recording">
                        <option *ngFor="let evUrl of recordingsUrls" value="{{evUrl.value}}">{{evUrl.label}}</option>
                    </optgroup>
                </select>
                <label class="control-label" for="select"></label><i class="bar" style="padding-top: 4px;"></i> 
            </div>
            <span class="calander-title top-bottom-label-space">AGENDA</span>
            <div class="redactor-wrap bottom-margin">
                <app-tinymce [(ngModel)]="agenda" name="agenda" id="agenda" #meetingAgenda="ngModel"></app-tinymce>  
            </div>
            <div class="sub-can-btn-wrap">
                <input *ngIf="!disableSubmit" type="submit" class="btn btn-blue" name="save" value="SAVE" />
                <input *ngIf="disableSubmit" type="button" class="btn btn-blue spinner" value="SAVE" disabled/>
                
                <a *ngIf="roleId == 3" class="btn btn-grey" href="javascript:void(0)" [routerLink]="['/meetings-list']">CANCEL</a>
                <a *ngIf="roleId != 3" class="btn btn-grey" href="javascript:void(0)" [routerLink]="[urlPrefix + '/meetings/list', meetingId]">CANCEL</a>
            </div>
            <!-- sub-can-btn-wrap -->
        </form> 
    </div>
    <!-- right-content-wrap -->
</div>
<!-- main-wraper -->

<app-footer></app-footer>
 
<div class="modal tokbird-modal fade" id="meetingSched" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
    <div class="modal-dialog register-modal register-modal-alter" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 ptb10">
                        <h2 class="h2-heading"><span class="first-text-light">Meeting&nbsp;</span>Scheduled</h2>
                        <div class="h2-heading-sub">{{meeting.meeting_title}}</div>
                        <div class="meeting-sub" [innerHTML]="meeting.agenda | safe: 'html'"></div>
                        <div class="meetind-date-wrap">
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Meeting start time</span>
                                <span class="meeting-ans-text">{{meeting.scheduled_date}} {{formatTimezone(meeting.timezone)}}<!--01 July 2017 at 11:00 am EST --></span>
                            </div>
                            <!-- meet-head-des-wrap -->
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Estimated Duration</span>
                                <span class="meeting-ans-text"><span *ngIf="(meeting.duration_hours > 0)">{{meeting.duration_hours}} hour </span><span *ngIf="(meeting.duration_minutes > 0)">{{meeting.duration_minutes}} minutes</span> <!--1 hour 00 minutes --></span>
                            </div>
                            <!-- meet-head-des-wrap -->
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Reminders</span>
                                <span *ngIf="meeting.reminders != ''">
                                    <span class="meeting-ans-text" *ngFor="let reminder of meeting.reminders"> 
                                        <span *ngIf="reminder.duration > 0">
                                            {{reminder.duration}}
                                            <span [ngSwitch]="reminder.duration_type">
                                                <span *ngSwitchCase="'1'">Minutes</span>
                                                <span *ngSwitchCase="'2'">Hours</span>
                                                <span *ngSwitchCase="'3'">Days</span>
                                                <span *ngSwitchCase="'4'">Weeks</span>
                                            </span> 
                                            before planned time
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <!-- meet-head-des-wrap -->
                        </div>
                        <!-- meetind-date-wrap -->
                        <div class="meetind-date-wrap meetind-date-wrap-alter">
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Link to Presenters</span>
                                <div class="infopopup">
                                    <span class="meeting-ans-text meeting-ans-text-alter"><a class="meet-link" href="{{meeting.presenters_url}}" target="_blank">{{meeting.presenters_url}}</a></span>
                                    <span class="link-cpy"><button class="btn btn-default" id="copy-presenters-url" [attr.data-copy-url]="meeting.presenters_url" (click)="copyToClipboard('#copy-presenters-url')">Copy link</button></span> 
                                </div>
                            </div>
                            <!-- meet-head-des-wrap -->
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Link to Experts</span>
                                <div class="infopopup">
                                    <span class="meeting-ans-text meeting-ans-text-alter"><a class="meet-link" href="{{meeting.experts_url}}" target="_blank">{{meeting.experts_url}}</a></span>
                                    <span class="link-cpy"><button class="btn btn-default" id="copy-experts-url" [attr.data-copy-url]="meeting.experts_url" (click)="copyToClipboard('#copy-experts-url')">Copy link</button></span> 
                                </div>
                            </div>
                            <!-- meet-head-des-wrap -->
                            <div class="meet-head-des-wrap">
                                <span class="meeting-head-text">Link to Listeners</span>
                                <div class="infopopup">
                                    <span class="meeting-ans-text meeting-ans-text-alter"><a class="meet-link" href="{{meeting.attendees_url}}" target="_blank">{{meeting.attendees_url}}</a></span>
                                    <span class="link-cpy"><button class="btn btn-default" id="copy-attendees-url" [attr.data-copy-url]="meeting.attendees_url" (click)="copyToClipboard('#copy-attendees-url')">Copy link</button></span> 
                                </div>
                            </div>
                            <!-- meet-head-des-wrap -->
                        </div>
                    </div>
                </div>
                <div class="sub-can-btn-wrap sub-can-btn-margin">
                     <a class="btn btn-blue" href="javascript:void(0)" data-dismiss="modal" [routerLink]="['/meetings/general-info', meeting.id]">ADVANCED SETTINGS</a> 
                    <a class="btn btn-grey" data-dismiss="modal" [routerLink]="['/meetings-list']">CLOSE</a>
                </div>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>

<div class="modal tokbird-modal fade" id="facilitator-pop" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
    <div class="modal-dialog register-modal register-modal-alter modal-reg-full" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 ptb10">
                        <h2 class="h2-heading text-center"><span class="first-text-light">Cancel</span> Facilitator request</h2>
                        <div class="deletion-msg">
                            Are you sure you want to cancel Facilitator request?
                        </div>
                        <!-- deletion-msg -->
                    </div>
                </div>
                <div class="sub-can-btn-wrap sub-can-btn-margin">
                    <a class="btn btn-blue" href="javascript:void(0)" (click)="cancelFacilitator(true)">YES</a>
                    <a class="btn btn-grey" data-dismiss="modal" href="javascript:void(0)" (click)="cancelFacilitator(false)">NO</a>
                </div>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->


