<!-- <app-header></app-header> -->
<app-header *ngIf="roleId == '3'"></app-header>
<app-admin-header *ngIf="roleId != '3'"></app-admin-header>
 <div class="main-wraper">
        <div class="left-sidebar-wrap" style="visibility: hidden;"></div>
        <!-- left-sidebar-wrap -->
        <div class="right-content-wrap">
            <div class="polls-btn-wrap">
                <div class="polls-head">
                    <h2 class="h2-heading"><span class="first-text-light">Polls</span></h2>
                </div>
                <!-- polls-head -->
                <div class="btn-right-wrap">
                    <a *ngIf="roleId == '3'" class="btn btn-grey create-poll-btn" href="javascript:void(0)" routerLink="/polls/create">CREATE POLL</a>
                    <a *ngIf="roleId != '3'" class="btn btn-grey create-poll-btn" href="javascript:void(0)" routerLink="{{urlPrefix}}/meetings/polls/create/{{routeMeetingId}}">CREATE POLL</a>
                </div>
                <!-- btn-right-wrap -->

            </div>
            <!-- polls-btn-wrap -->
            <form (ngSubmit)="searchPoll($event, f)" #f="ngForm">
              <div class="row">
                  <div class="col-md-8 col-sm-9 col-xs-12">
                      <div class="form-group">
                          <input type="search" name="keyword" [ngModel]="keyword" #searchKeyword="ngModel">
                          <label class="control-label search-weight" for="input">SEARCH POLL</label><i class="bar"></i>
                      </div>
                      <!-- <a class="btn btn-blue serch-btn nomargin" href="javascript:void(0)">SEARCH</a> -->
                      <input type="submit" class="btn btn-blue serch-btn nomargin" value="SEARCH" />
                      <a class="btn btn-grey serch-btn" href="javascript:void(0)" (click)="resetSearch($event, f)">RESET</a>
                  </div>
                  <!-- columns -->
              </div>
              <!-- row -->
            </form>
            <div class="section-spacer"></div>
            <div class="table-responsive" style="position:relative;">
                <div [ngBusy]="busy"></div>
                <table class="table table-striped table-striped-tok table-reg-height">
                    <thead>
                        <tr>
                            <th>Poll Title</th>
                            <th>Created</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let poll of polls | paginate: {'id': 'polls-list', itemsPerPage: limit, currentPage: p, totalItems: recordDetails.recordsTotal }">
                          <td>
                              <a *ngIf="roleId == '3'" routerLink="/polls/view/{{poll.id}}">{{poll.title}}</a>
                              <a *ngIf="roleId != '3'" routerLink="{{urlPrefix}}/meetings/polls/view/{{routeMeetingId}}/{{poll.id}}">{{poll.title}}</a>
                          </td>
                          <td>{{poll.created_at}}</td>
                          <td class="pre-reg-width">
                            <div class="edit-delete-wrap">
                                <a *ngIf="roleId == '3'" class="edit" routerLink="/polls/edit/{{poll.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.571" height="15.5" viewBox="0 0 14.571 14.5">
                                                    <path fill="#B2B2B2" d="M9.06 2.42l2.965 2.964-7.503 7.503L1.56 9.923l7.5-7.503zm5.214-.715L12.952.383c-.51-.51-1.34-.51-1.853 0L9.83 1.65l2.964 2.963 1.477-1.477c.397-.396.397-1.035 0-1.43zM.008 14.09c-.054.242.165.46.408.4l3.303-.8-2.965-2.965-.75 3.364z"></path>
                                                  </svg>
                                </a>
                                <a *ngIf="roleId != '3'" class="edit" routerLink="{{urlPrefix}}/meetings/polls/edit/{{routeMeetingId}}/{{poll.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.571" height="15.5" viewBox="0 0 14.571 14.5">
                                                    <path fill="#B2B2B2" d="M9.06 2.42l2.965 2.964-7.503 7.503L1.56 9.923l7.5-7.503zm5.214-.715L12.952.383c-.51-.51-1.34-.51-1.853 0L9.83 1.65l2.964 2.963 1.477-1.477c.397-.396.397-1.035 0-1.43zM.008 14.09c-.054.242.165.46.408.4l3.303-.8-2.965-2.965-.75 3.364z"></path>
                                                  </svg>
                                </a>
                                <!-- edit -->
                                <a class="delete" (click)="confirmDelete(poll.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12.641" height="16" viewBox="0 0 11.641 15">
                                                    <path fill="#B2B2B2" d="M2.51 15h6.653c.915 0 1.663-.748 1.663-1.663V3.36H.848v9.977c0 .915.748 1.663 1.663 1.663zM11.64.848H8.73L7.9 0H3.74l-.83.848H0V2.51h11.64V.85z"></path>
                                                  </svg>
                                </a>
                                <!-- delete -->
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="polls.length == 0"><td colspan="3">No results found</td></tr>
                    </tbody>
                </table>
            </div>

            <pagination-controls class="my-pagination" id="polls-list"
                    (pageChange)="pageChanged($event)"
                    maxSize="5"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
            </pagination-controls>







        </div>
        <!-- right-content-wrap -->
    </div>
    <!-- main-wraper -->
<app-footer></app-footer>

<div class="modal tokbird-modal fade" id="delete-pop-polls" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
    <div class="modal-dialog register-modal register-modal-alter modal-reg-full" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 ptb10">
                        <h2 class="h2-heading text-center"><span class="first-text-light">Delete</span> Poll</h2>
                        <div class="deletion-msg">
                            Are you sure you want to delete this poll?
                        </div>
                        <!-- deletion-msg -->
                    </div>

                </div>
                <div class="sub-can-btn-wrap sub-can-btn-margin">
                    <a class="btn btn-blue" href="javascript:void(0)" (click)="deletePoll(pollToDelete)">YES</a>
                    <a class="btn btn-grey" data-dismiss="modal" href="javascript:void(0)">NO</a>
                </div>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->