.dropdown-menu > li > a { overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
.btn-blue-add { width: 66px; float: right; }
.file-upload-name { width: 100%; text-overflow: ellipsis; float: right; white-space: nowrap; overflow: hidden; padding-left: 10px;    /* padding-top: 15px; */ line-height: 40px; max-width: 100px;    /* max-width: 89px; */ }
.upload-btn-wrapper { position: relative; overflow: hidden; display: inline-block; width: 100%; }
.upload-btn { color: #2e2e2e; background-color: #e6e9ee; padding: 8px 20px; border-radius: 4px; font-size: 15px; cursor: pointer; font-weight: 500; text-transform: uppercase; transition: 0.3s all; }
.upload-btn:hover { background-color: #03a9f4; }
.upload-btn-wrapper input[type=file] { font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0; }
.min-width-100 { min-width: 100px; }
.min-width-150 { min-width: 150px; }
.notify-block{
    margin: 0px 0px 15px;
    background: #f7f8fd;
    padding: 15px;
    border-radius: 3px;
}
.dropdown-full {
    width: initial;
}