/*# Commonly used custom css */

.error-msg{
  background: #ffffff;
  padding: 7px 15px;
  text-align: center;
  font-size: 13px;
  /*box-shadow: 0 0 6px 0px rgb(238, 70, 61);*/
  border-radius: 3px;
  color: #ee463d;
  border: 1px solid #ee463d;
  font-weight: 400;
  margin-bottom: 50px;
}

.success-msg {
  background: #ffffff;
  padding: 7px 15px;
  text-align: center;
  font-size: 13px;
  /*box-shadow: 0 0 6px 0px #6ac259;*/
  border-radius: 3px;
  color: #6ac259;
  border: 1px solid #6ac259;
  font-weight: 400;
  margin-bottom: 50px;
}
.error-show,.success-show{
  display: block !important;
}
.error-hide,.success-hide{
  display: none !important;
}
.label-danger {
    background-color: #d9534f;
}
.label {
    display: inline;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-warning {
    background-color: #f0ad4e;
}
.label-success {
    background-color: #5cb85c;
}

.btn:active:focus{outline: none;}