            <div class="table-responsive table-not-overflow"  style="position:relative;">
                <div [ngBusy]="loader"></div>
                <table class="table table-striped table-striped-tok">
                    <thead>
                        <tr>
                            <th width="20%">Meeting Creator</th>
                            <th>Meeting Title</th>
                            <th>Date and Time</th>
                            <th>Facilitator</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let request of requestsDetails | paginate: {'id': 'requests-list', itemsPerPage: pageLimit, currentPage: page, totalItems: records}" >
                        <tr *ngIf="request.facilitator" id="row{{request.id}}">

                            <td><a [routerLink]="[urlPrefix + '/view-user/', request.user_id]">{{request.creator}}</a></td>
                            <td>
                                 <a [routerLink]="[urlPrefix + '/meetings/general-info', request.id]" target="_blank">
                                    {{request.meeting_title}}
                                </a> 
                            </td>
                            
                            <td>{{request.meeting_date_time | date: 'd MMM y'}} &nbsp;&nbsp; {{request.meeting_date_time | date: 'jms'}}</td>
                            <td *ngIf="request.facilitator" id="meeting_facilitator{{request.id}}"> {{request.facilitator}}</td>
                            <td *ngIf="!request.facilitator" id="meeting_facilitator{{request.id}}"> Not Assigned</td>
                            <td>
                                
                                <div class="edit-delete-wrap edit-dotts" >
                                    <div class="edit">
                                        <!-- dropdown -->
                                        <div class="dropup">
                                            <button class="btn btn-drops-trans dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" (click)="clickedAction()">
                                                <svg fill="#B2B2B2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu drops-trans pull-right" role="menu" aria-labelledby="menu1">
                                                <li *ngIf="!request.facilitator" role="presentation" data-toggle="modal" data-target="#assign_facilitator" (click)="getFacilitators(request.id,request.facilitator_id,'assign')" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Assign Facilitator</a></li>
                                                <li *ngIf="request.facilitator" role="presentation" data-toggle="modal" data-target="#assign_facilitator" (click)="getFacilitators(request.id,request.facilitator_id,'reassign')" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Reassign Facilitator</a></li>
                                                <li *ngIf="request.facilitator" role="presentation" data-toggle="modal" data-target="#remove_facilitator"  (click)="clickedRemove(request.id)" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Remove Facilitator</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- edit -->
                                    <!-- <div class="delete" (click)="cancelMeeting(event.id)">
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12.641" height="16" viewBox="0 0 11.641 15">
                                                <path fill="#B2B2B2" d="M2.51 15h6.653c.915 0 1.663-.748 1.663-1.663V3.36H.848v9.977c0 .915.748 1.663 1.663 1.663zM11.64.848H8.73L7.9 0H3.74l-.83.848H0V2.51h11.64V.85z"/>
                                            </svg>
                                        </a>
                                    </div> -->
                                    <!-- delete -->
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="!request.facilitator" id="row{{request.id}}" class="unassined_class">

                            <td><a [routerLink]="[urlPrefix + '/view-user/', request.user_id]">{{request.creator}}</a></td>
                            <td>
                                 <a [routerLink]="[urlPrefix + '/meetings/general-info', request.id]" target="_blank">
                                    {{request.meeting_title}}
                                </a> 
                            </td>
                            
                            <td>{{request.meeting_date_time | date: 'd MMM y'}} &nbsp;&nbsp; {{request.meeting_date_time | date: 'jms'}}</td>
                            <td *ngIf="request.facilitator" id="meeting_facilitator{{request.id}}"> {{request.facilitator}}</td>
                            <td *ngIf="!request.facilitator" id="meeting_facilitator{{request.id}}"> Not Assigned</td>
                            <td>
                                
                                <div class="edit-delete-wrap edit-dotts" >
                                    <div class="edit">
                                        <!-- dropdown -->
                                        <div class="dropup">
                                            <button class="btn btn-drops-trans dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" (click)="clickedAction()">
                                                <svg fill="#B2B2B2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu drops-trans pull-right" role="menu" aria-labelledby="menu1">
                                                <li *ngIf="!request.facilitator" role="presentation" data-toggle="modal" data-target="#assign_facilitator" (click)="getFacilitators(request.id,request.facilitator_id,'assign')" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Assign Facilitator</a></li>
                                                <li *ngIf="request.facilitator" role="presentation" data-toggle="modal" data-target="#assign_facilitator" (click)="getFacilitators(request.id,request.facilitator_id,'reassign')" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Reassign Facilitator</a></li>
                                                <li *ngIf="request.facilitator" role="presentation" data-toggle="modal" data-target="#remove_facilitator"  (click)="clickedRemove(request.id)" aria-expanded="false" class="action_items"><a role="menuitem" tabindex="-1" >Remove Facilitator</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- edit -->
                                    <!-- <div class="delete" (click)="cancelMeeting(event.id)">
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12.641" height="16" viewBox="0 0 11.641 15">
                                                <path fill="#B2B2B2" d="M2.51 15h6.653c.915 0 1.663-.748 1.663-1.663V3.36H.848v9.977c0 .915.748 1.663 1.663 1.663zM11.64.848H8.73L7.9 0H3.74l-.83.848H0V2.51h11.64V.85z"/>
                                            </svg>
                                        </a>
                                    </div> -->
                                    <!-- delete -->
                                </div>
                            </td>
                        </tr>
                        </ng-container>
                        <tr *ngIf="records == 0"><td colspan="6"><span class="meeting-exceed-2000 meeting-noExceed">No meetings found.</span></td></tr>

                    </tbody>
                </table>
            </div>

            <pagination-controls class="my-pagination" id="requests-list"
                    (pageChange)="requestsPageChanged($event)"
                    maxSize="5"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
            </pagination-controls>


    <div class="modal tokbird-modal fade" id="assign_facilitator" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
        <div class="modal-dialog register-modal plan-modal-alter" role="document">
            <div class="modal-content">
                <div class="change-sub-wrap">
                    <!-- change-sub-wrap -->
                    <div class="modal-body">
                        <form class="form" role="form" method="post" action="create_facilitator" accept-charset="UTF-8" (ngSubmit)="assignFacilitator($event,j)" #j="ngForm">
                            <div class="row">
                                <div class="col-md-12 ptb10">
                                    <h2 class="h2-heading"><span class="first-text-light">Assign&nbsp;</span>Facilitator</h2>
                                       <div *ngIf="errorMsg" class="error-msg">{{errorMsg}}</div>
                                        <div class="search-table-wrapper search-for-meeting-popup">
                                   
                                            <div class="search-table">
                                                <div class="form-group">
                                                    <input type="text" required="required" name="facilitators_keyword" [(ngModel)]="facilitators_keyword" #searchKeyword="ngModel">
                                                    <label class="control-label" for="input">SEARCH FACILITATOR</label><i class="bar"></i>
                                                </div>
                                            </div>
                                            <!-- search-table -->
                                            <div class="search-btn">
                                                <button type="button" class="btn btn-blue serch-btn" (click)="getFacilitatorsList()">SEARCH</button>
                                            </div>
                                            <!-- search-btn -->
                                    
                                        </div>

                                            
                                        <table class="table custom-scroll-table">
                                            <!--<tr>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" required="required" name="facilitators_keyword" [(ngModel)]="facilitators_keyword" #searchKeyword="ngModel">
                                                        <label class="control-label" for="input">SEARCH FACILITATOR</label><i class="bar"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-blue serch-btn" (click)="getFacilitatorsList()">SEARCH</button>
                                                </td>
                                                    
                                            </tr>-->
                                            <tr  *ngFor="let facilitator of facilitators">
                                                <td class="fac-name" id="facilitator{{facilitator.id}}" >{{facilitator.us_name}}</td>
                                                <td>
                                                    <div *ngIf="facilitator.availability" class="checkbox checkbox-height">
                                                        <label>
                                                            <input type="checkbox" id="assign{{facilitator.id}}"  name="assign{{facilitator.id}}" [(ngModel)]="facilitator.current_facilitator" (click)="selectedFacilitator(facilitator.id)"><i class="helper"></i>
                                                        </label>
                                                    </div>
                                                    <span *ngIf="!facilitator.availability">Not Available</span>
                                                </td>
                                            </tr>
                                        </table>
                                        
                                </div>

                            </div>
                            <div class="sub-can-btn-wrap sub-can-btn-margin">
                                <!--  <a class="btn btn-blue" data-dismiss="modal" href="javascript:void(0)">CLOSE</a> -->

                                <button *ngIf="facilitatorRecords != 0" type="submit" class="btn btn-blue">Assign</button>
                                <a class="btn btn-grey" data-dismiss="modal">CANCEL</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- change-sub-wrap -->

            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->


    <div class="modal tokbird-modal fade" id="remove_facilitator" tabindex="-1" role="dialog" aria-labelledby="basicRegister">
        <div class="modal-dialog register-modal plan-modal-alter" role="document">
            <div class="modal-content">
                <div class="change-sub-wrap">
                    <!-- change-sub-wrap -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 ptb10">
                                <h2 class="h2-heading"><span class="first-text-light">Remove&nbsp;</span>Facilitator</h2>

                                <span class="plan_sucess">Are you sure want to remove this facilitator?</span>

                            </div>

                        </div>
                        <div class="sub-can-btn-wrap sub-can-btn-margin">
                            <!--  <a class="btn btn-blue" data-dismiss="modal" href="javascript:void(0)">CLOSE</a> -->

                            <a class="btn btn-blue" href="javascript:void(0)" (click)="removeFacilitator()" >Remove</a>
                            <a class="btn btn-grey" data-dismiss="modal" href="javascript:void(0)">CANCEL</a>
                        </div>
                    </div>
                </div>
                <!-- change-sub-wrap -->

            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->